.about__container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5%;

}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
   
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card {
    background:var(--color-bg-variant);
    border: 1px solid transparaent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}
.about__icon {
    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about__card h5 {
    font-size: 1rem;
}
.about__card small {
    font-size: 1rem;
    color: var(--color-light);
}
.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
